body {
    background: #f2f2f2; //#20272E // #00b33c
}

.form-control, .btn {
	min-height: 3.125rem;
	line-height: initial;
}

.img-1 {
    background-image: url('../images/bodegon1.jpg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../images/bodegon2.jpg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('../images/bodegon3.jpg');
    background-size: cover;
    background-position: center;
}