body {
    background: #f2f2f2; //#20272E // #00b33c
}

.navbar .container-md .collapse .navbar-nav .nav-link {
    color:  white;

    &:hover {
        font-weight: bold;
    }
}

.card-border {
	border: solid 10px white;
	border-radius: 20px;
	overflow: hidden;
	transition: all ease-out 0.2s;
}

.card-border:hover {
	transform: scale(1.05);
}


/*.search_wrap{
	width: 500px;
	margin: -30px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #198754;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: green;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .input{
    padding-right: 80px;
	border-radius: 50px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}

.featured-section {
    margin-top: 5em;
}

@media only screen and (max-width: 576px) {

    .search_wrap {
        display: none;
    }

	<section class="container-md mt-4">
        <div class="container-feat">
            <h3 class="featured-title">Productos Destacados</h3>
            <ul class="featured-list">
                <li>
                    <a href="#" class="prod1-cta">Producto1</a> 
                </li>
                <li> 
                    <a href="#" class="prod2-cta">Producto2</a> 
                </li>
                <li>
                    <a href="#" class="prod3-cta">Producto3</a> 
                </li>
            </ul>
        </div>
    </section>

}*/