@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #00b33c;
    --secondary-color: #20272E;
}

body {
    background: #f2f2f2; //#222
    margin: 0;
    font-family: 'Poppins'; 
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 1.5em;
}

h3 {
    text-align: justify;
}

.top-nav {
    background: white;
    padding: 1em;
    border-bottom-style:ridge;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 2em;
        span {
            color: var(--primary-color);
        }
    } 
    
    nav {
        display: none;
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: #20272E;
        height: 100vh;
        padding: 1em;
    }

    .container-nav {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        background: var(--primary-color);
        cursor: pointer;
        padding: .2em;
        border-radius: .3em;
        border-style: solid;

        &:hover {
            background-color: #00b33c96;
        }
    }

    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }

    .user-nav {
        margin-top: 5em;
    
        li {
            a {
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;
        
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

nav.menu-btn {
    display: block;
}

.featured-section {
    text-align: center;

    .featured-title {
        margin-top: 0em;
    }

    li {
        text-align: center;
        background-color: var(--primary-color);
        text-decoration: none;
        padding: .3em 1em;
        width: 80%;
        margin: 0 auto 1em auto;
        font-size: 1.4em;
        border-radius: 5em;
        border-color: black;
        border-style: solid;
        font-weight: bold;
        display: inline-block;

        &:hover {
            background-color: var(--secondary-color);
        }
    }
    
    .prod1-cta {
        color: white;
        
    }

    .prod2-cta {
        color: white;
        
    }

    .prod3-cta {
        color: white;
        
    }
}

.department-section {
    background-color: var(--secondary-color);
    color: white;

    .department-list {
        margin: 0;
        padding-left: .1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

        a {
            color: white;
        }

        li {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;

            &:hover {
                font-weight: bold;
            }

            &:before {
                content: '';
                left: -2em;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../images/bullet.svg');
                background-size: contain;
                margin-right: .5em;
            }
        }
    }
}

.contact-section {
    h2 {
        font-size: 2em;
    }

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    input, textarea {
        width: 100%;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid gray;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        border-color: black;
        border-style: solid;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .8em 2em;
        width: unset;

        &:hover {
            background-color: var(--secondary-color);
            cursor: pointer;
        }
    }
}

.stores-section {
    padding-top: 0;

    h3 {
        margin-top: 0;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .top-nav .container-nav {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .top-nav nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.user-nav {
            margin: 0;
        }

        li a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-right: 1em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }

        }
    }
}